{{ define "main" }}
<main id="content">
  <div class="row project-list">
    {{ range sort (where .Site.RegularPages "Section" "projects") "Title" }}
      {{ .Render "summary" }}
    {{ end }}
  </div>
</main>
{{ end }}
