{{ define "main" }}
	<div id="content" class="overflow-hidden">
		<div class="container">
			<div class="row display-flex flex-wrap">
				<div class="col-xs-24 col-sm-12 extended-bg-left description-bg">
					<div class="content-left">
						{{ .Page.Params.description | markdownify }}

						{{ if or (.Params.homepage) (.Params.facebook) (.Params.linkedin) (.Params.twitter) (.Params.youtube)}}
							<div class="social-links-section">
								<p>Follow Us:</p>
								{{ if .Params.homepage }}
									<a class="fa-stack fa-lg" href="{{ .Params.homepage }}" title="Homepage of {{ .Title }}" target="_blank">
										<i class="fa fa-stack-2x fa-circle-thin"></i>
										<i class="fa fa-stack-1x fa-globe"></i>
									</a>
								{{ end }}
								{{ if .Params.facebook }}
									<a class="fa-stack fa-lg" href="{{ .Params.facebook }}" title="Facebook page of {{ .Title }}" target="_blank">
										<i class="fa fa-stack-2x fa-circle-thin"></i>
										<i class="fa fa-stack-1x fa-facebook"></i>
									</a>
								{{ end }}
								{{ if .Params.linkedin }}
									<a class="fa-stack fa-lg" href="{{ .Params.linkedin }}" title="LinkedIn of {{ .Title }}" target="_blank">
										<i class="fa fa-stack-2x fa-circle-thin"></i>
										<i class="fa fa-stack-1x fa-linkedin"></i>
									</a>
								{{ end }}
								{{ if .Params.twitter }}
									<a class="fa-stack fa-lg" href="{{ .Params.twitter }}" title="Twitter feed of {{ .Title }}" target="_blank">
										<i class="fa fa-stack-2x fa-circle-thin"></i>
										<i class="fa fa-stack-1x fa-twitter"></i>
									</a>
								{{ end }}
								{{ if .Params.youtube }}
									<a class="fa-stack fa-lg" href="{{ .Params.youtube }}" title="YouTube account of {{ .Title }}" target="_blank">
										<i class="fa fa-stack-2x fa-circle-thin"></i>
										<i class="fa fa-stack-1x fa-youtube"></i>
									</a>								
								{{ end }}
							</div>
						{{ end }}
					</div>
				</div>
				
				<div class="col-xs-24 col-sm-12 flex-column">
					<div class="main-logo-wrapper">
						<img src="{{ .Params.project_logo | relURL }}" alt="{{ .Params.title }} Logo" title="{{ .Params.title }} Logo">
					</div>		

					<div class="extended-bg-right funded-bg flex-grow">
						<div class="content-right"> 
							<div class="row">
								<div class="col-xs-8 col-sm-8 small-logo-wrapper match-height-item">
									<h2>Funded by</h2>
								</div>
								{{ $num_bodies := (len .Params.funding_bodies)}}
								{{ if gt $num_bodies 0 }}
									{{ range .Params.funding_bodies }}
										{{ $id := . }}
										{{ range first 1 (where $.Site.Data.funding_bodies.items "id" $id) }}
											{{ if gt $num_bodies 2 }}
												<div class="col-xs-5 col-sm-5 small-logo-wrapper match-height-item">
											{{ else }}
												<div class="col-xs-8 col-sm-8 small-logo-wrapper match-height-item">
											{{ end }}										
												<a href="{{.link}}" title="{{ .name }} homepage" target="_blank">
													{{ if .logo }}
														<img src="{{ .logo | relURL }}" alt="{{ .name }} logo"/>
													{{ else }}
														<i style="width:75px;height:75px;" class="center-block" data-feather="file-text" stroke-width="1"></i>
													{{ end }}
												</a>
											</div>							
										{{ end }}
									{{ end }}
								{{ end }}			
							</div>
						</div>				
					</div>
					
					<div class="extended-bg-right contributions-bg flex-grow">
						<div class="content-right">
							<div class="row">
								<div class="col-xs-24 col-sm-10 small-logo-wrapper match-height-item">
									<h2>Eclipse Projects Contributions</h2>
								</div>
								{{ if gt (len .Params.eclipse_projects) 0 }}
									{{ range .Params.eclipse_projects }}
										{{range first 1 (where $.Site.Data.eclipsefdn_projects "project_id" .) }}
											<div class="col-xs-12 col-sm-7 small-logo-wrapper match-height-item">
												<a href="{{ .url }}">
													<img class="img" src="{{ .logo }}" title="{{ .name }} logo"/>
												</a>	
											</div>											
										{{ end }}
									{{ end }}
								{{ end }}
							</div>
						</div>
					</div>		
				</div>
			</div>
		</div>
		
		{{ .Content }}

		{{ if .Params.referenced_eclipse_projects }}
			{{ if gt (len .Params.referenced_eclipse_projects) 0 }}
				<div class="container">
					<h2 class="margin-top-30 margin-bottom-20">Referenced Eclipse projects</h2>
					
					<div class="row">
						{{ range .Params.referenced_eclipse_projects }}
							{{range first 1 (where $.Site.Data.eclipsefdn_projects "project_id" .) }}
								<div class="col-sm-6 margin-bottom-20 match-height-item-by-row vertical-align margin-10">
									<a href="{{ .url }}" class="padding-20">
										<img class="img img-responsive" src="{{ .logo }}" title="{{ .name }} logo"/>
									</a>
								</div>
							{{ end }}
						{{ end }}
					</div>				
				</div>			
			{{ end }}
		{{ end }} 
	</div>
{{ end }}
