<!-- 
  Copyright (c) 2019 Eclipse Foundation, Inc.

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  Contributors:
    Yi Liu <yi.liu@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

<section class="container">

  <script>
    function getResearchResources(resources) {
      return resources.filter(r => r.publish_to === 'research');
    }

    function renderResearchResources() {
      // export all code to a proper js file and use mustache
    }

    /**
    * @param {string?} workgroup
    * @param {number?} page 
    */
    async function getNewsroomResources(workgroup, pagesize = 1) {
      // TODO: Use query param for finding publish_to relating to research
      let url = new URL(`https:\/\/newsroom.eclipse.org/api/resources?pagesize=${pagesize}`);

      return new Promise((resolve, reject) => {
        fetch(url)
          .then(async (response) => {
            const isJson = response.headers.get('content-type')?.includes('application/json');
            const data = isJson ? await response.json() : null;

            if (!response.ok) {
              const error = (data && data.message) || response.status;
              reject(error);
            } else {
              resolve(data);
            }
          })
          .catch(error => reject(error))
          .then(data => resolve({ resources: data.resources, more: data.pagination.result_size !== 0 }));
      });
    }

    getNewsroomResources('research', 100) // TODO: get better way to paginate
      .then(result => {
        getResearchResources(result.resources)
      })
      .catch(err => console.error(err));

  </script>


  <h2>Resources</h2>
  <div class="row">
  </div>
  
  <!-- More resources put in this div -->
  <div id="more-resources" aria-expanded="false" class="collapse">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="flex-column text-center match-height-item background-white padding-20 margin-bottom-30">
          <p><img class="img img-responsive margin-auto padding-20" style="height: 150px; width: 150px;" src="images/resources/case-study-icon.svg" alt="case study icon"></p>
          <h3>Case Study</h3>
          <p class="flex-grow">Learn how the Eclipse Foundation is enabling European research, development, and innovation.</p>
          <p><a class="btn btn-secondary btn-sm" href="https://outreach.eclipse.foundation/european-research-case-study" aria-label="Download European research case study PDF">Download</a></p>
        </div>
      </div>
    </div>
  </div> 
  <p class="text-center"><a data-toggle-text="Close" role="button" data-toggle="collapse" href="#more-resources" aria-expanded="true" aria-controls="more-resources" class="btn btn-primary toggle-text">View More Resources<i class="fa fa-arrow-down"></i></a></p>
</section>

<!-- Card
    <div class="col-md-6 col-sm-12">
      <div class="flex-column text-center match-height-item background-white padding-20 margin-bottom-30">
        <p><img class="img img-responsive margin-auto padding-20" style="height: 150px; width: 150px;" src="images/resources/slide-deck-icon.svg" alt="slide deck icon"></p>
        <h3>Slide Deck</h3>
        <p class="flex-grow">A helpful presentation you can use to build your case for joining the Eclipse Foundation AISBL.</p>
        <p><a class="btn btn-secondary" href="https://www.eclipse.org/europe/eclipse-slide-deck.pdf" aria-label="Download Eclipse Slide Deck PDF">Download</a></p>
      </div>
    </div>
-->